
@import url(https://clearvision.github.io/ClearVision-v6/main.css);

:root {
  --main-font: Nunito;
  --code-font: JetBrainsMono Nerd Font;
  --background-shading: 0;

  --background-overlay: {{ surface }}CC;
  --hover-color: {{ surfaceVariant }};
  --success-color: #50fa7b;
  --danger-color: #ff5555;
  --url-color: {{ primary }};

  --text-normal: {{ onSurface }};

  --channel-color: {{ onSurface }}66;
  --muted-channel-color: {{ onSurface }}22;
  --channel-text-selected: {{ onSurfaceVariant }};

  --user-popout-overlay: {{ surface }};
}
