$primary: #bd93f9;
$onPrimary: #282a36;
$secondary: #44475a;
$onSecondary: #282a36;
$onBackground: #f8f8f2;
$surface: #282a36;
$onSurface: #f8f8f2;
$surfaceVariant: #44475a;
$onSurfaceVariant: #f8f8f2;
$shadow: #000000;

* {
  font-weight: bold;
}

button {
  min-width: 0;
  min-height: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 15px;
}

@import './bar';
@import './launcher';
@import './notifications';
@import './osd';
