.panel {
  margin: 15px;
  min-height: 34px;
  border-radius: 15px;
  border: 1px solid $primary;
  background-color: rgba($surface, 0.8);
  box-shadow: 0 0 2px 3px $shadow;
  font-weight: bold;
  font-size: 20px;
}
.panel-element {
  padding: 0 8px;
}
separator {
  margin: 14px 5px;
  padding: 0 2px;
  border-radius: 15px;
}

.workspaces button {
  margin: 8px 0;
  min-width: 16px;
  background-color: $secondary;
  border-radius: 15px;
  &:hover {
    background-color: mix($secondary, $onSecondary, 70%);
  }
  &.focused {
    min-width: 25px;
    background-color: $primary;
    &:hover {
      background-color: mix($primary, $onSurface, 70%);
    }
  }
}

.vitals-element {
  min-height: 20px;
  min-width: 20px;
  background-color: $surfaceVariant;
  color: $primary;
  font-size: 3px;

  label {
    color: $onSurface;
  }
}

.sysmenu {
  padding-right: 8px;
  padding-left: 3px;
  border-radius: 15px;
  &:hover {
    background-color: mix(rgba($surface, 0.8), rgba($onSurface, 0.8), 70%);
  }
  &.revealed {
    background-color: $primary;
    &:hover {
      background-color: mix($primary, $onPrimary, 70%);
    }
  }
}
.sysmenu-element {
  margin-left: 5px;
  &.revealed {
    color: $onPrimary;
  }
}

.power {
  border-radius: 15px;
  &.revealed {
    background-color: $primary;
  }
}
.power-button {
  padding: 0 8px;
  &:hover {
    background-color: mix(rgba($surface, 0.8), rgba($onSurface, 0.8), 70%);
  }
  &.revealed {
    color: $onPrimary;
    &:hover {
      background-color: mix($primary, $onPrimary, 70%);
    }
  }
}
